h-center{
    text-align: center;
}

h3{
	font-family: "Pinyon Script", arial, sans-serif;
	font-weight: bold;
}

ul{
	list-style: none outside;
	margin-top: -10px;
}

 ul li{
	padding: 5px 0px;
}