<h2 class="h-center">
  Correo:lossinoficio@gmail.com
</h2>

<div class="container">
  <div class="row">
      <footer>
          <div  class="col-md-4  col-xs-12">
              <ul>
                  <li><h3>Direccion:</h3></li>
                  <li>Av. Principal av Venezuela, Lara.</li>
                  <br>
                  <li>Telf. +58 (0212) 342.08.99 / 345.32.02 </li>
                  <br>
                  <li>lossinoficio@lossinoficio.org</li>
                  <br>
              </ul>
          </div>
          <div class="col-md-4 col-md-offset-4 col-xs-12">
              <ul>
                  <li><h3>Mapa</h3></li>
                  <li> 
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3922.951227486179!2d-66.86683238520158!3d10.504507792506391!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c2a59058428fdf7%3A0xcc109d363e94d40b!2sCasa+Club+-+Caracas+Country+Club!5e0!3m2!1ses!2sve!4v1544467967831" height="280" frameborder="0" style="border:0" allowfullscreen></iframe> 
                  </li>
              </ul>                        
          </div>
      </footer>

  </div>
  <div class="row">
       <div class="col-md-5 col-xs-12">
          <p>Peererxon´Comerce ®. Todos los Derechos Reservados.</p>
      </div>
      <div class="col-md-4 col-md-offset-3">
          <p>Developed by Anderson Gil</p>
      </div>                   
  </div>

</div>

<h2>

</h2>