<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <p>
      Somos una empresa dedicada a Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quos soluta perspiciatis veritatis! Quos officiis ab dolor aspernatur itaque dolore nisi, quo dolorem repudiandae, aperiam sint iusto praesentium, impedit consectetur.
    </p>

    <h2><em>Mision:</em></h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam eaque rerum praesentium cumque fuga aliquid temporibus et quidem libero! Quibusdam ad eos pariatur hic minus beatae perspiciatis ipsa et provident.</p>
  </div>

  <h2><em>Vision:</em></h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam eaque rerum praesentium cumque fuga aliquid temporibus et quidem libero! Quibusdam ad eos pariatur hic minus beatae perspiciatis ipsa et provident.</p>

</div>


