<div class="container-fluid">

    <div class="table-responsive col-md-12">
      <table class="table" *ngFor="let producto of _almacen">
          <!--Fila de los titulos-->
          <tr>
              <th></th>
              <th>Imagen</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Codigo</th>
              <th>Total</th>					    
          </tr>
          <!--Contenidos-->
          <tr>
              <th width="62px"><button type="button" (click)="eliminarDelCarro(producto.id)" class="btn btn-danger btn-sm">Eliminar <span class="glyphicon glyphicon-remove"></span></button></th>
              <th><img src="{{producto.img}}" width="100" height="100">
              </th>
              <th>120$</th>
              <th width="62px"><input type="number" name="cantidad" placeholder="CANTIDAD" class="btn"></th>
              <th width="62px">{{producto.id}}</th>
              <th>999$</th>
          </tr>
        <button  type="button" class="btn btn-primary btn-md" [routerLink]="['/pago']">
          Pagar 
        </button>
      </table>
    </div>
  
  </div>
  