<div class="container-fluid">    
            
    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3"> 
        
        <div class="row">                
            <div class="iconmelon">
              <img src="../assets/img/sesion inicio.png" width="100" height="100" alt="Inicio de sesión" title="Inicio de sesión">
            </div>
        </div>
  
    <!--AQUI INICIA EL FORMULARIO DE INICIAR SESION-->
        <div class="panel panel-default" >
            <div class="panel-heading">
                <div class="panel-title text-center">Inicio de sesión</div>
            </div>     
  
            <div class="panel-body" >
  
                <form id="form" class="form-horizontal" #formulario="ngForm">
                   
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" name="usuario" value="" placeholder="Nombre de usuario" autofocus="" [(ngModel)]="nombreUsuario" required>                                        
                    </div>
  
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" name="contraseña" placeholder="Contraseña" [(ngModel)]="clave" required>
                    </div>                                                                  
  
                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-sm-12 controls">
                            <button  [disabled]="!formulario.valid" (click) = "ValidarEntrada()" type="button"  class="btn btn-primary pull-right"><i class="glyphicon glyphicon-key"></i> Entrar</button>                          
                        </div>
                    </div>
  
                </form>     
  
            </div>                     
        </div>
  
   </div>
  
  </div>
  