<section>
	<h2 id="Encabezado">Titulo de la publicacion</h2>
</section>
<div class="container-fluid">

	<div class="row">

		<div class="col-xs-12 col-md-4 col-md-offset-1">
			<h1 class="h-center">{{productoActual.name}}</h1>
				<div id="carousel-example-generic" class="carousel slide xs-hidden" data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-example-generic" data-slide-to="1"></li>
						<li data-target="#carousel-example-generic" data-slide-to="2"></li>
					</ol>
				
					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<img [src]="productoActual.images[0].src" alt="foto1" title="productoActual.images[0].name" class="img-responsive carrusel_img">
							<div class="carousel-caption">
							...
						</div>
						</div>
						<div class="item">
							<img [src]="productoActual.images[0].src" alt="foto2" title="productoActual.images[0].name" class="img-responsive carrusel_img">
							<div class="carousel-caption">
								<h3>DEMECIA!</h3>
								<p>Exelente material,labia,labia,labia...</p>
							</div>
						</div>
						<div class="item">
								<img [src]="productoActual.images[0].src" alt="foto3" title="productoActual.images[0].name" class="img-responsive carrusel_img">
								<div class="carousel-caption">
									...
								</div>
							</div>
					</div>
				
					<!-- Controls -->
					<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>

				<a *ngIf="validado == false" class="btn btn-danger btn-sm buyBottoms"><span class="glyphicon glyphicon-registration-mark"></span>Ingresa para comprar</a>
				<button  *ngIf="validado == true" (click)="addToShopCar(productoActual.name,productoActual.id,productoActual.price,productoActual.images[0].src)" class="btn btn-primary btn-sm buyBottoms"><span class="glyphicon glyphicon-road"></span>Agregar al carrito</button>

		</div>

		<div class="col-xs-8 col-xs-offset-2 col-md-5">
			<h1 class="h-center"><em>perfil del vendedor</em></h1>
			<div class="cold-xs-12 col-md-12 perfil-vendedor">

				<p> ipsum, dolor sit amet consectetur adipisicing elit. Recusandae cumque officia
					 voluptatum dolores dolorem? Consequuntur maxime facere libero incidunt. Culpa facilis hic fuga molestias veniam at laudantium nemo consequuntur praesentium!
				</p>

				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci
					 fuga ratione sit possimus reprehenderit sapiente veritatis, deserunt porro unde, modi ducimus et sed neque cum perferendis ut, assumenda dolore totam? 
				</p>

				<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-10 col-xs-offset-10 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
				<h2 class="h-center">
					<strong>Detalles</strong>
				</h2>
				<div id="perfil-detalles">
					<p>{{productoActual.description}} </p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-1">
				<h2 class="h-center">
					Comentarios
				</h2>
				<form>
						<textarea class="form-control" rows="3" id="comentarios"></textarea>
						<button type="submit" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-road"></span>Enviar</button>
				</form>
			</div>
		</div>
	</div>

</div>