.navbar navbar-inverse{
    background-image: linear-gradient(to right,ligthblue,#106BE9 );
}

h3{
    font-size: 100px;
}

.presentacion{
    border: none;
}

@import "inicio-registro.css";