  <header>
      <nav class="navbar navbar-inverse presentacion">
        <div class="container-fluid">
          <div class="col-md-7 col-xs-12">
            <div class="navbar-header">

              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="nav navbar-nav navbar-center">
                <a class="navbar-brand" routerLink="/home" id="titulo">Peererxon´s Eccomerce</a>
            </div>

            <div class="collapse navbar-collapse" id="myNavbar">
                <form class="form-inline navbar-form navbar-left">
                  <div class="form-group">
                    <input type="text" name="busqueda" class="form-control">
                  </div>
                  <div class="form-group">
                    <button type="button" class="btn btn" id="Buscar"><a routerLink="/carro"><span class="glyphicon glyphicon-search
                      "> ver carrito</span> </a></button>
                  </div>
                </form>
            </div>

          </div>
            <ul class="nav navbar-nav navbar-right">
              <li><a routerLink="/iniciar">Iniciar sesión<span class="glyphicon glyphicon-log-in"></span></a></li>
              <li><a routerLink="/registro">Registrarse <i class="glyphicon glyphicon-folder-open"></i></a></li>
              <li><a routerLink="/contacto">Contacto <i class="glyphicon glyphicon-phone-alt"></i></a></li>
              <li><a routerLink="/nosotros">Nosotros <i class="glyphicon icon-book"></i></a></li>
            </ul>
        </div>
      </nav>
  </header> 

  <router-outlet></router-outlet>
