/* * {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  font-weight: bold;
  font-family: Raleway; } */

ul li {
  color: white;
  display: inline-block;
  text-transform: capitalize;
  padding: 5px;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s; }
  ul li:hover {
    border-radius: 2.5px;
    background: #f57f17;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s; }

.glyphicon {
  margin: 0px 10px 0px 10px; }

footer h3 {
  display: inline-block;
  color: #f57f17;
  font-family: "Playfair Display", serif; }
