input{
	transition-duration: 1s;
}


input:hover{
	transform: scale(1.5);
}

div+p{
	text-align: center;
}
#formulario{
	background: #028838;
    width: 35%;
    margin: auto;
    margin-top: 30px;
}
h1{
	display: inline-block;
}

#glyphicon-credit-card{
	visibility: visible;
	font-size: 50px;
}