<section>
        <h2 id="Encabezado">Procesamiento de pago</h2> 
        <span class="glyphicon glyphicon-credit-card" id="glyphicon-credit-card"></span>
    </section>

    	<div id="formulario">
            <form name="registro"  #formulario="ngForm">  
                Cedula <br> 
                <input type="text" name="cedula" placeholder="EJ:28119876" maxlength="8" [(ngModel)]="cedula" required /> <br>

                Nombre <br>
                <input type="text" name="nombre"  placeholder="ingrese su nombre " id="nombre" [(ngModel)]="nombrecompleto" required> <br>

                Correo <br> 
                <input type="email" name="correo" placeholder="EJ:sidjas@hotmail.com" [(ngModel)]="correo" required /> <br>


                Nombre de usuario <br>
                <input type="text" name="nUsuario" placeholder="EJ:sidjas" [(ngModel)]="nombreUsuario" required> <br>

                Clave De la tarjeta<br> 
               <input type="password" name="clave" placeholder="minimo 4 caracteres" [(ngModel)]="clave" required />

                Mes De Vencimiento <br> 
                <select type="select" name="mes">
                    <option disabled="disabled" selected="selected">Selecione</option> 
                    <option>2021</option>
                    <option>2022</option>
                    <option>2023</option>
                    <option>2024</option>
                    <option>2025</option>
                    <option>2026</option>
                    <option>2027</option>
                </select> <br>

                Tipo De Cuenta <br>
                <select type="select" name="tipo">
                    <option disabled="disabled" selected="selected">Selecione</option>
                    <option>Corriente</option>
                    <option>Ahorro</option>
                    <option>Crédito</option>
                </select> <br>


                <button [disabled]="!formulario.valid"  (click)=pagar() type="button" class="boton btn btn-warning btn-xs" value="Enviar" name="enviar">Enviar</button>
                </form>
        </div>