/* You can add global styles to this file, and also import other style files */
.presentacion{
    background-image: linear-gradient(to right,lightblue, #106BE9 );

}

#Buscar{
    background-color: #DE731B;
}

.navbar-inverse .navbar-nav>li>a {
     color: black;
}

#titulo{
    color: black;
}

footer{
    height: 55px;
    position: relative;
    bottom: 25px;
}