.titulo-centrado{
    text-align: center;
    border: 2px solid #DE731B;
    background-color: #DEDE1B;
    border-radius: 7px;
    padding: 5vh 5vh;
}

.producto{
    margin: 10px 0px 0px 30px;
}

img{
    -webkit-box-shadow: 0px 0px 3px 11px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 3px 11px rgba(0,0,0,1);
    box-shadow: 0px 0px 3px 11px rgba(0,0,0,1);
    transition: 1s;
    border-radius: 5px;
    height: 400px;
    width:100%;
}

img:hover{
    transform: scale(1.1);
    box-shadow: none;
}

.h-center {
    text-align: center; }

#articleTitle{
    padding: 10vh 10%;
}