
<div class="row">
  <div class="container">
      <h1 class="h-center">Bienvenidos a Peererxon´sCommerce <span class="icon-bluetooth"></span></h1>
    <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">

        <div ngxSlickItem class="col-md-12 producto slides" *ngFor="let p of productos">
            <h1 class="titulo-centrado" id="articleTitle">{{p.name}} [{{p.status}}]</h1>
            <a [routerLink]="['/detalle',p.id]"><img src="{{p.images[0].src}}" class="img-responsive"></a>
            <h2 class="titulo-centrado">Precio: {{p.price}}$</h2>
        </div>

    </ngx-slick>
  </div>
</div>

<div class="row">
    <div class="container">
        <section>Categorias</section>

        <select #selectElem (change)="MostrarProductosByCat(selectElem.value)">
            <option *ngFor="let Categoria of CategoriasApi" value="{{Categoria.id}}">{{Categoria.name}}</option>
        </select>
    </div>
</div>