<div class="container-fluid">  

    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3"> 
                
        <div class="row">                
            <div class="iconmelon">
            <img src="../../assets/img/Fondo-registro.jpg" width="100" height="100" alt="Registrarse" title="registrate">
            </div>
        </div>
        
        <div class="panel panel-default" >
            <div class="panel-heading">
                <div class="panel-title text-center">Registrate</div>
            </div>     

            <div class="panel-body" >

                <form id="form" class="form-horizontal" #formulario="ngForm">
                
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-log-in"></i></span>
                        <input type="text" class="form-control" name="usuario" placeholder="Nombre de usuario" [(ngModel)]="nombreUsuario" required>                                        
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" name="Nombre" placeholder="nombrecompleto" [(ngModel)]="nombrecompleto" required><!--[(ngModel)]="nombrecompleto"-->
                    </div>                                                                                               
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" name="cedula" placeholder="Cedula" [(ngModel)]="cedula" minlength="6" required><!--[(ngModel)]="cedula"-->
                    </div> 

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="email" class="form-control" name="correo" placeholder="Correo" [(ngModel)]="correo" required> <!--[(ngModel)]="clave"-->
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" name="clave" placeholder="Contraseña" [(ngModel)]="clave" required> <!--[(ngModel)]="clave"-->
                    </div>



                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-sm-12 controls">
                            <button  [disabled]="!formulario.valid" (click) = "validarExistencia()" type="button" class="btn btn-success btn-sm pull-right"><i class="glyphicon glyphicon-log-in"></i> Registrar</button>                          
                        </div>
                    </div>
                </form>     

            </div>                     
        </div>  
    </div>
</div>

